.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .menu__nav{
    padding: 1rem;
    cursor: pointer;
    gap: 2rem;
}

.menu__nav ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;

}

.menu__nav ul li{
    list-style: none;
}

.menu__nav ul li a{
    color: white;
    font-size: 1.5rem;
}

.hidden{
    display: none;
}

/* @media screen and(max-width:900px) {
    .menu__nav ul{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        gap: 2rem;
    }
} */
